/*===== BASE =====*/
*, ::before, ::after {
    box-sizing: border-box;
}

body {
  margin: 3rem 0 0 0;
  font-family: 'Product Sans', sans-serif;
  font-size: 1rem;
background: rgb(5, 17, 28);
}



ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*===== HEADER =====*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  background-color: black;
  color: white;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__logo {
  color: #0E1026;
}

.header__toggle {
  font-size: 1.7rem;
  cursor: pointer;
}

/*===== NAV =====*/
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #5B65F5;
    width: 80%;
    height: 100vh;
    padding: 2rem 0;
    z-index: 100;
    transition: .8s;
    overflow-y: auto;
  }
}

.nav a{
    color: white
}

.nav__content {
  display: flex;
  flex-direction: column;
}

.nav__perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

.nav__img {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.nav__img{
  width: 70px;
}

/*Nama logo saat navbar kecil*/
.nav__name {
  display: block;
  font-size: 1rem;
  color: white;
}

.nav__item {
  margin-bottom: 2rem;
}

/*tulisan saat navbar kecil*/
.nav__link {
  color: #C4C7F5;
}

.nav__link:hover {
  color: #FBFBFB;
}

/*Show menu*/
.show {
  left: 0;
}

/*tombol login saat navbar kecil*/
.active {
  color: white;
}

/*panah dropdowm*/
.dropdown__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*animasi panah dropdown*/
.dropdown__icon {
  font-size: 1.3rem;
  transition: .5s;
}

/*isi kategori*/
.dropdown__menu {
  margin: 1rem 0 0 1rem;
  display: none;
}

/*jarak antar kategori*/
.dropdown__item {
  margin: 1rem 0;
}

/*menampilkan kategori*/
.dropdown:hover > .dropdown__menu {
  display: block;
}

.dropdown:hover .dropdown__icon {
  transform: rotate(180deg);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 576px) {
  .nav {
    width: 288px;
  }
}

/*Navbar ungu*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .header {
    height: calc(3rem + 1rem);
  }
  .header__logo, .header__toggle {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav__perfil {
    flex-direction: row;
    text-align: initial;
    margin-bottom: 0;
  }
  .nav__img {
    width: 40px;
    height: 40px;
    margin-right: .5rem;
    margin-bottom: 0;
  }
  .nav__img img {
    width: 46px;
  }
  .nav__name {
    color: white;
  }
  .nav__list {
    display: flex;
    align-items: center;
  }
  .nav__item {
    margin: 0 1.5rem;
    padding: 1.4rem 0;
  }
  .nav__link {
    color: #0E1026;
  }
  .nav__link:hover {
    color: #5B65F5;
  }
  /*Active link new color*/
  .active {
    color: #5B65F5;
  }
  .dropdown {
    position: relative;
  }
  .dropdown__menu {
    position: fixed;
    margin: 0;
    top: calc(3rem + 1rem);
    padding: .5rem 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
  }
  .dropdown__item {
    margin: .5rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}
/* Bola background */
.circleback1{
  position: absolute;
  width: 349px;
  height: 349px;
  left: 9%;
  top: 18%;

  background: radial-gradient(78.72% 78.72% at 88.58% 20.42%, rgba(186, 74, 255, 0.525) 0%, rgba(250, 0, 255, 0.525) 93.12%);
  filter: blur(4px);
  border-radius: 50%;
}

.circleback2{position: absolute;
  width: 142px;
  height: 142px;
  left: 46%;
  top: 31%;
  
  background: radial-gradient(78.72% 78.72% at 88.58% 20.42%, rgba(253, 116, 108, 0.525) 0%, rgba(255, 144, 104, 0.525) 100%);
  filter: blur(4px);
  transform: rotate(180deg);
  border-radius: 50%;
}

.circleback3{
  position: absolute;
  width: 240px;
  height: 240px;
  left: 62%;
  top: 62%;

  background: radial-gradient(78.72% 78.72% at 88.58% 20.42%, rgba(255, 81, 47, 0.525) 0%, rgba(221, 36, 118, 0.525) 100%);
  filter: blur(4px);
  transform: rotate(180deg);
  border-radius: 50%;
}




/* resolution desktop */
.glasspick{
  position: absolute;
width: 304px;
height: 682px;
left: 3%;
top: 102px;

background: radial-gradient(100% 851.33% at 0% 0%, rgba(255, 255, 255, 0.1225) 0%, rgba(255, 255, 255, 0.0175) 100%);
border: 1px solid rgba(255, 255, 255, 0.35);
box-sizing: border-box;
border-radius: 35px;
}

.glasspicka{
  position: absolute;
width: 161px;
height: 97px;
left: 25%;
top: 60px;

background: radial-gradient(96.5% 210.52% at 0% 6.9%, rgba(255, 255, 255, 0.1225) 0%, rgba(255, 255, 255, 0.0175) 99.99%, rgba(255, 255, 255, 0.035) 100%);
border: 1px solid rgba(255, 255, 255, 0.35);
box-sizing: border-box;
}
.glasspickb{
  position: absolute;
  width: 161px;
  height: 96px;
  left: 0%;
  top: 120%;
  
  background: radial-gradient(96.5% 210.52% at 0% 6.9%, rgba(255, 255, 255, 0.1225) 0%, rgba(255, 255, 255, 0.0175) 99.99%, rgba(255, 255, 255, 0.035) 100%);
  border: 1px solid rgba(255, 255, 255, 0.35);
}
.glasspickc{
  position: absolute;
width: 161px;
height: 97px;
left: 0%;
top: 120%;

background: radial-gradient(96.5% 210.52% at 0% 6.9%, rgba(255, 255, 255, 0.1225) 0%, rgba(255, 255, 255, 0.0175) 99.99%, rgba(255, 255, 255, 0.035) 100%);
border: 1px solid rgba(255, 255, 255, 0.35);
}
.glasspickrec{
  position: absolute;
width: 160px;
height: 97px;
left: 0%;
top: 220%;

background: radial-gradient(96.5% 210.52% at 0% 6.9%, rgba(255, 255, 255, 0.1225) 0%, rgba(255, 255, 255, 0.0175) 99.99%, rgba(255, 255, 255, 0.035) 100%);
border: 1px solid rgba(255, 255, 255, 0.35);
}

.glassbase1{
  position: absolute;
width: 499px;
height: 282px;
left: 26%;
top: 145px;

background: radial-gradient(100% 851.33% at 0% 0%, rgba(255, 255, 255, 0.1225) 0%, rgba(255, 255, 255, 0.0175) 100%);
border: 1px solid rgba(255, 255, 255, 0.35);
border-radius: 11px;
}

.glassbasea{
  position: absolute;
  width: 227px;
  height: 236px;
  left: 4%;
  top: 7%;
  
  background: radial-gradient(96.5% 210.52% at 0% 6.9%, rgba(255, 255, 255, 0.1225) 0%, rgba(255, 255, 255, 0.0175) 99.99%, rgba(255, 255, 255, 0.035) 100%);
border: 1px solid rgba(255, 255, 255, 0.35);
}

.glassbaseb{
  position: absolute;
  width: 202px;
  height: 80px;
  left: 110%;
  top: 7%;
  
  background: radial-gradient(96.5% 210.52% at 0% 6.9%, rgba(255, 255, 255, 0.1225) 0%, rgba(255, 255, 255, 0.0175) 99.99%, rgba(255, 255, 255, 0.035) 100%);
border: 1px solid rgba(255, 255, 255, 0.35);
}

.glassbase2{
  position: absolute;
width: 498px;
height: 282px;
left: 65%;
top: 145px;

background: radial-gradient(100% 851.33% at 0% 0%, rgba(255, 255, 255, 0.1225) 0%, rgba(255, 255, 255, 0.0175) 100%);
border: 1px solid rgba(255, 255, 255, 0.35);
border-radius: 11px;
}

.glassbase3{
  position: absolute;
width: 499px;
height: 280px;
left: 26%;
top: 463px;

background: radial-gradient(100% 851.33% at 0% 0%, rgba(255, 255, 255, 0.1225) 0%, rgba(255, 255, 255, 0.0175) 100%);
border: 1px solid rgba(255, 255, 255, 0.35);
border-radius: 11px;
}


.glassbase4{
  position: absolute;
  width: 498px;
  height: 280px;
  left: 65%;
  top: 463px;

  background: radial-gradient(100% 851.33% at 0% 0%, rgba(255, 255, 255, 0.1225) 0%, rgba(255, 255, 255, 0.0175) 100%);
border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 11px;
}


@media screen and (max-width: 1382px) {

.glassbase1{
  position: absolute;
width: 470px;
height: 220px;
left: 41.2%;
top: 145px;
}

.glassbasea{
  position: absolute;
  width: 227px;
  height: 190px;
  left: 4%;
  top: 7%;
}

.glassbaseb{
  position: absolute;
  width: 180px;
  height: 70px;
  left: 110%;
  top: 7%;
}
.glassbase2{
  position: absolute;
width: 470px;
height: 220px;
left: 41.2%;
top: 395px;
}

.glassbase3{
  position: absolute;
  width: 470px;
  height: 220px;
  left: 41.2%;
  top: 645px;
}


.glassbase4{
  position: absolute;
  width: 470px;
  height: 220px;
  left: 41.2%;
  top: 895px;
}  
}

/* resolution zoomed/hp */
@media screen and (max-width: 800px) {
  .glasspick{
    width: 164px;
    height: 682px;
    left : 1%;
  }
  .glasspicka{
    width: 100px;
    left:21%;
  }
  .glasspickb{
    width: 100px;

  }
  .glasspickc{
    width: 100px;

  }
  .glasspickrec{
    width: 100px;

  }
  .glassbase1{
    position: absolute;
  width: 470px;
  height: 220px;
  left: 28%;
  top: 145px;
  }
  
  .glassbasea{
    position: absolute;
    width: 227px;
    height: 190px;
    left: 4%;
    top: 7%;
  }
  
  .glassbaseb{
    position: absolute;
    width: 180px;
    height: 70px;
    left: 110%;
    top: 7%;
  }
  .glassbase2{
    position: absolute;
  width: 470px;
  height: 220px;
  left: 28%;
  top: 395px;
  }
 
  .glassbase3{
    position: absolute;
    width: 470px;
    height: 220px;
    left: 28%;
    top: 645px;
  }
  
  
  .glassbase4{
    position: absolute;
    width: 470px;
    height: 220px;
    left: 28%;
    top: 895px;
  }  
}





.bubbles{
  position: absolute;
  display: flex;
  bottom: -100px;
  width: 100%;
  justify-content: space-around;
}
.bubbles span{
  height: 60px;
  width: 60px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  animation: move 10s linear infinite;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.powered{
  font-family:inherit;
  color: #fff;
  font-size: 12px;
  transform: translateY(400px);
  position: absolute;
  opacity: 0.8;
}
@keyframes move {
  100%{
      transform: translateY(-90vh);  
  }
}

.bubbles span.one{
  animation-delay: 2.2s;
  transform: scale(2.15);
}
.bubbles span.two{
  animation-delay: 3.5s;
  transform: scale(1.55);
}
.bubbles span.three{
  animation-delay: 0.2s;
  transform: scale(0.35);
}

.bubbles span.five{
  animation-delay: 7s;
  transform: scale(0.5);
}
.bubbles span.six{
  animation-delay: 4s;
  transform: scale(2.5);
}
.bubbles span.seven{
  animation-delay: 3s;
  transform: scale(1.5);
}
.bubbles span:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 40%;
  transform: skew(45deg) translateX(150px);
  background: rgba(255 , 255, 255, 0.15);
  animation: mirror 3s linear infinite;
}

@keyframes mirror{
  100%{
      transform: translateX(-450px);
  }
}
.bubbles span.one:before{
  animation-delay: 1.5s;
}
.bubbles span.two:before{
  animation-delay: 3.5s;
}
.bubbles span.three:before{
  animation-delay: 2.5s;
}
.bubbles span.five:before{
  animation-delay: 4.5s;
}
.bubbles span.six:before{
  animation-delay: 0.5s;
}
.bubbles span.seven:before{
  animation-delay: 6s;
}
.container{
  width: 360px;
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 12px;
  backdrop-filter:blur(5px);
  border-top:1px solid rgba(255, 255, 255, 0.5);
  border-left:1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}
.container input[type="text"]{
  width: 100%;
  height: 100px;
  margin: 0 3px;
  outline: none;
  border: none;
  color: #fff;
  text-align:right;
  font-size: 20px;
  padding-right: 10px;
  background: transparent;
}
.container input[type="button"]{
  height: 65px;
  color: #fff;
  width: calc(100% / 4 - 5px);
  background: transparent;
  border-radius: 12px;
  margin-top: 15px;
  outline: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.container input[type="button"]:hover{
  background: rgba(255, 255, 255, 0.1);
}

